<html>
<head>
    <title><%= title + " points: " + points %></title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>

<% include templates/header.ejs %>

<h2>
    <%= title %>
</h2>
<h4>Hi.. My name is <%= name %></h4>
<ul>
    <% for(var i = 0; i < 5; ++i){ %>
    <li>Mini</li>
    <% } %>
</ul>
<h4>Displaying names of Playlist: <%= videodata.categoryName %></h4>
<ul>
    <%
    videodata.categories.forEach(function(item){
    %>
    <li><%= item.categoryName %></li>
    <% }); %>
</ul>
</body>
</html>